# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.ipynb_checkpoints/

# -----------------------------
# 实验结果 / 日志文件
# -----------------------------
*.csv
*.jsonl
*.npy
*.npz
*.pkl
*.mat
*.log
*.out
*.err
*.txt

# -----------------------------
# 图片 / 图表 / 报告文件
# -----------------------------
*.png
*.jpg
*.jpeg
*.pdf
*.pptx
*.docx
*.zip
*.rar
*.gz
*.tar

# -----------------------------
# IDE / 系统文件
# -----------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# -----------------------------
# 实验输出文件夹
# -----------------------------
exp*/        # 实验结果目录
figs/
real_*/      # 各实验结果文件夹
HG/
data/
nli_project/
mis_fever/
nli2/
